body{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    background-image: url('https://pbs.twimg.com/media/EK0P_gLX0AE5mCt.jpg');
    background-size: cover;

}

