body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.blogs.es/2cc78a/ordenstarwars/1366_2000.jpg");
}


table {
    width: 80%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 5px solid rgb(30, 30, 30);
    opacity: 0.9;
}

th {
    background-color: #333;
    color: white;
    padding: 10px;
    align-items: center;
}

td {
    background-color: #666;
    color: white;
    padding: 10px;
    align-items: center;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#nav_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#nav_div a {
    color: white;
    text-decoration: none;
}

#nav_div a:hover {
    color: #FFE81F;
    text-decoration: underline;
}

#nav_div a:active {
    color: red;
    text-decoration: underline;
}

h1 {
    color: white;
    text-align: center;
    font-size: 48px;
    margin: 5;
    padding-top: 10px;
    text-shadow: #333 3px 3px 3px;
}

h1:hover {
    color: #FFE81F;
}




@media screen and (max-width: 800px) {
    h1 {
        font-size: 36px;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        text-align: center;
        font-size: 18px;
        /* Increase font size */
        padding: 5px;
    }

    th,
    td {
        border: rgb(30, 30, 30) solid 1px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
        /* Increase font size */
    }

    #nav_div {
        font-size: 18px;
    }

    #instagramLogo {
        width: 40px;
        height: 40px;
    }

    #swLogo {
        width: 80px;
        height: 50px;
    }



}



@media screen and (max-width: 600px) {
    h1{
        margin-top: 60px;
        font-size: 24px;
    }

    #nav_div {
        font-size: 14px;
        padding: 5px;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        text-align: center;
        font-size: 14px;
        padding: 5px;
    }

    th,
    td {
        border: rgb(30, 30, 30) solid 1px;
        padding: 3px;
        font-size: 12px;
    }

    #instagramLogo {
        width: 20px;
        height: 20px;
    }

    #swLogo {
        width: 30px;
        height: 10px;
    }


}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


#instagramLogo{
    width: 50px;
    height: 50px;
    padding-left: 50px;

}

#swLogo{
    width: 100px;
    height: 50px;
    padding-right: 50px;
}